* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

img {
  height: 20rem;
  width: 20rem;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
  pointer-events: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20rem;
  height: 100svh;
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    pointer-events: none;
  }
  .container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    color: #fff;

    width: 70%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      border-top: 1px solid;
      padding-top: 1rem;
    }

    a {
      text-decoration: none;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 16px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      padding: 2rem;
      color: #fff;
      padding: 1rem 2rem;
      border-radius: 10px;
      transition: all 0.1s ease-in;

      &:hover {
        color: aqua;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
